CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_redmi_ax6=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_IMAGES_GZIP=n
CONFIG_DEVEL=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -march=armv8-a+crypto+crc -mcpu=cortex-a53+crypto+crc -mtune=cortex-a53"
CONFIG_LINUX_6_12=y

CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_luci-lib-docker=n
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=n
CONFIG_PACKAGE_docker=n

CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=n
CONFIG_PACKAGE_zerotier=n

CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=y

CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_luci-proto-wireguard=y

CONFIG_PACKAGE_libiperf3=y
CONFIG_PACKAGE_iperf3=y

CONFIG_PACKAGE_luci-app-natmap=y
CONFIG_PACKAGE_natmap=y

CONFIG_BUSYBOX_DEFAULT_LSOF=y

CONFIG_PACKAGE_lxc=n
CONFIG_PACKAGE_luci-app-lxc=n
CONFIG_PACKAGE_luci-i18n-lxc-zh-cn=n
CONFIG_LXC_KERNEL_OPTIONS=n
CONFIG_LXC_BUSYBOX_OPTIONS=n
CONFIG_LXC_SECCOMP=n
CONFIG_LXC_NETWORKING=n
CONFIG_PACKAGE_lxc-attach=n
CONFIG_PACKAGE_lxc-auto=n
CONFIG_PACKAGE_lxc-autostart=n
CONFIG_PACKAGE_lxc-cgroup=n
CONFIG_PACKAGE_lxc-checkconfig=n
CONFIG_PACKAGE_lxc-common=n
CONFIG_PACKAGE_lxc-config=n
CONFIG_PACKAGE_lxc-configs=n
CONFIG_PACKAGE_lxc-console=n
CONFIG_PACKAGE_lxc-copy=n
CONFIG_PACKAGE_lxc-create=n
CONFIG_PACKAGE_lxc-destroy=n
CONFIG_PACKAGE_lxc-device=n
CONFIG_PACKAGE_lxc-execute=n
CONFIG_PACKAGE_lxc-freeze=n
CONFIG_PACKAGE_lxc-hooks=n
CONFIG_PACKAGE_lxc-info=n
CONFIG_PACKAGE_lxc-init=n
CONFIG_PACKAGE_lxc-ls=n
CONFIG_PACKAGE_lxc-monitor=n
CONFIG_PACKAGE_lxc-monitord=n
CONFIG_PACKAGE_lxc-snapshot=n
CONFIG_PACKAGE_lxc-start=n
CONFIG_PACKAGE_lxc-stop=n
CONFIG_PACKAGE_lxc-templates=n
CONFIG_PACKAGE_lxc-top=n
CONFIG_PACKAGE_lxc-unfreeze=n
CONFIG_PACKAGE_lxc-unprivileged=n
CONFIG_PACKAGE_lxc-unshare=n
CONFIG_PACKAGE_lxc-user-nic=n
CONFIG_PACKAGE_lxc-usernsexec=n
CONFIG_PACKAGE_lxc-wait=n

CONFIG_BUSYBOX_DEFAULT_XZ=y
CONFIG_BUSYBOX_DEFAULT_UNXZ=y
CONFIG_PACKAGE_xz-utils=y
CONFIG_PACKAGE_xz=y
CONFIG_PACKAGE_xzdec=y
CONFIG_PACKAGE_xzdiff=y
CONFIG_PACKAGE_xzgrep=y
CONFIG_PACKAGE_xzless=y
CONFIG_PACKAGE_xzmore=y
CONFIG_PACKAGE_liblzma=y
CONFIG_PACKAGE_gnupg=y
CONFIG_PACKAGE_gnupg2=y
CONFIG_PACKAGE_gnupg2-dirmngr=y
CONFIG_PACKAGE_kmod-ikconfig=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_cgroupfs-mount=n
CONFIG_PACKAGE_cgroup-tools=n

CONFIG_BUSYBOX_DEFAULT_TAR=n
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_TAR_POSIX_ACL=y
CONFIG_PACKAGE_TAR_XATTR=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y

CONFIG_PACKAGE_luci-app-onliner=y
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iftop=y
CONFIG_PACKAGE_luci-app-ramfree=y

CONFIG_PACKAGE_prometheus-node-exporter-lua=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-dawn=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-hostapd_ubus_stations=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-nat_traffic=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-netstat=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-openwrt=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-snmp6=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-textfile=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-uci_dhcp_host=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-wifi=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-wifi_stations=y

CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_rsyncd=y
CONFIG_KERNEL_CIFS_ACL=n
CONFIG_PACKAGE_kmod-fs-cifs=n
CONFIG_PACKAGE_luci-app-cifs-mount=n
CONFIG_PACKAGE_cifsmount=n
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_DEFAULT_ddns-scripts_aliyun=n
CONFIG_DEFAULT_ddns-scripts_dnspod=n

CONFIG_PACKAGE_bash=n
CONFIG_PACKAGE_fish=n
CONFIG_PACKAGE_coremark=n

CONFIG_PACKAGE_luci-app-udpxy=n
CONFIG_PACKAGE_luci-i18n-udpxy-zh-cn=n
CONFIG_PACKAGE_udpxy=n

CONFIG_PACKAGE_luci-app-nfs=n
CONFIG_KERNEL_NFS_ACL_SUPPORT=n
CONFIG_KERNEL_NFS_V3_ACL_SUPPORT=n
CONFIG_KERNEL_NFSD_V2_ACL_SUPPORT=n
CONFIG_KERNEL_NFSD_V3_ACL_SUPPORT=n
CONFIG_PACKAGE_kmod-fs-nfs=n
CONFIG_PACKAGE_kmod-fs-nfs-common=n
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=n
CONFIG_PACKAGE_kmod-fs-nfs-v3=n
CONFIG_PACKAGE_kmod-fs-nfs-v4=n
CONFIG_PACKAGE_kmod-fs-nfsd=n

CONFIG_PACKAGE_luci-app-webadmin=y

CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_bandwidthd=n

CONFIG_PACKAGE_ipv6helper=n
CONFIG_PACKAGE_kmod-ip6tables-extra=y

CONFIG_PACKAGE_luci-app-wifischedule=n