CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_redmi_ax6-stock=y

CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_LINUX_6_12=y

CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
CONFIG_TARGET_SQUASHFS_BLOCK_READERS=4
CONFIG_TARGET_SQUASHFS_SMALL_READERS=4
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=y
CONFIG_TARGET_UBIFS_JOURNAL_SIZE=""

CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_luci-lib-docker=n
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=n
CONFIG_PACKAGE_docker=n

CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=n
CONFIG_PACKAGE_zerotier=n

CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=y

CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_luci-proto-wireguard=y

CONFIG_PACKAGE_libiperf3=y
CONFIG_PACKAGE_iperf3=y

CONFIG_PACKAGE_luci-app-natmap=y
CONFIG_PACKAGE_natmap=y

CONFIG_BUSYBOX_DEFAULT_LSOF=y

CONFIG_PACKAGE_luci-app-onliner=y
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iftop=y
CONFIG_PACKAGE_luci-app-ramfree=y

CONFIG_PACKAGE_prometheus-node-exporter-lua=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-dawn=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-hostapd_ubus_stations=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-nat_traffic=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-netstat=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-openwrt=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-snmp6=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-textfile=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-uci_dhcp_host=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-wifi=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-wifi_stations=y

CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_rsyncd=y
CONFIG_KERNEL_CIFS_ACL=n
CONFIG_PACKAGE_kmod-fs-cifs=n
CONFIG_PACKAGE_luci-app-cifs-mount=n
CONFIG_PACKAGE_cifsmount=n
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_DEFAULT_ddns-scripts_aliyun=n
CONFIG_DEFAULT_ddns-scripts_dnspod=n

CONFIG_PACKAGE_bash=n
CONFIG_PACKAGE_fish=n
CONFIG_PACKAGE_coremark=n

CONFIG_PACKAGE_luci-app-webadmin=y

CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_bandwidthd=n

CONFIG_PACKAGE_ipv6helper=n
CONFIG_PACKAGE_kmod-ip6tables-extra=y

CONFIG_PACKAGE_luci-app-wifischedule=n
