CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_PACKAGE_grub2-efi=y
CONFIG_EFI_IMAGES=y
CONFIG_VMDK_IMAGES=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_IMAGES_GZIP=n
CONFIG_TARGET_ROOTFS_PARTSIZE=800
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe"
CONFIG_LINUX_6_12=y

CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
CONFIG_PACKAGE_docker=y

CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
CONFIG_PACKAGE_zerotier=y

CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=y

CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_luci-proto-wireguard=y

CONFIG_PACKAGE_libiperf3=y
CONFIG_PACKAGE_iperf3=y

CONFIG_PACKAGE_luci-app-natmap=y
CONFIG_PACKAGE_natmap=y

CONFIG_BUSYBOX_DEFAULT_LSOF=y

CONFIG_PACKAGE_lxc=y
CONFIG_PACKAGE_luci-app-lxc=y
CONFIG_PACKAGE_luci-i18n-lxc-zh-cn=y
CONFIG_LXC_KERNEL_OPTIONS=y
CONFIG_LXC_BUSYBOX_OPTIONS=y
CONFIG_LXC_SECCOMP=y
CONFIG_LXC_NETWORKING=y
CONFIG_PACKAGE_lxc-attach=y
CONFIG_PACKAGE_lxc-auto=y
CONFIG_PACKAGE_lxc-autostart=y
CONFIG_PACKAGE_lxc-cgroup=y
CONFIG_PACKAGE_lxc-checkconfig=y
CONFIG_PACKAGE_lxc-common=y
CONFIG_PACKAGE_lxc-config=y
CONFIG_PACKAGE_lxc-configs=y
CONFIG_PACKAGE_lxc-console=y
CONFIG_PACKAGE_lxc-copy=y
CONFIG_PACKAGE_lxc-create=y
CONFIG_PACKAGE_lxc-destroy=y
CONFIG_PACKAGE_lxc-device=y
CONFIG_PACKAGE_lxc-execute=y
CONFIG_PACKAGE_lxc-freeze=y
CONFIG_PACKAGE_lxc-hooks=y
CONFIG_PACKAGE_lxc-info=y
CONFIG_PACKAGE_lxc-init=y
CONFIG_PACKAGE_lxc-ls=y
CONFIG_PACKAGE_lxc-monitor=y
CONFIG_PACKAGE_lxc-monitord=y
CONFIG_PACKAGE_lxc-snapshot=y
CONFIG_PACKAGE_lxc-start=y
CONFIG_PACKAGE_lxc-stop=y
CONFIG_PACKAGE_lxc-templates=y
CONFIG_PACKAGE_lxc-top=y
CONFIG_PACKAGE_lxc-unfreeze=y
CONFIG_PACKAGE_lxc-unprivileged=y
CONFIG_PACKAGE_lxc-unshare=y
CONFIG_PACKAGE_lxc-user-nic=y
CONFIG_PACKAGE_lxc-usernsexec=y
CONFIG_PACKAGE_lxc-wait=y

CONFIG_BUSYBOX_DEFAULT_XZ=y
CONFIG_BUSYBOX_DEFAULT_UNXZ=y
CONFIG_PACKAGE_xz-utils=y
CONFIG_PACKAGE_xz=y
CONFIG_PACKAGE_xzdec=y
CONFIG_PACKAGE_xzdiff=y
CONFIG_PACKAGE_xzgrep=y
CONFIG_PACKAGE_xzless=y
CONFIG_PACKAGE_xzmore=y
CONFIG_PACKAGE_liblzma=y
CONFIG_PACKAGE_gnupg=y
CONFIG_PACKAGE_gnupg2=y
CONFIG_PACKAGE_gnupg2-dirmngr=y
CONFIG_PACKAGE_kmod-ikconfig=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_PACKAGE_cgroup-tools=y

CONFIG_BUSYBOX_DEFAULT_TAR=n
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_TAR_POSIX_ACL=y
CONFIG_PACKAGE_TAR_XATTR=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y

CONFIG_PACKAGE_kmod-i915-gvt=y
CONFIG_PACKAGE_kmod-iommu_v2=y
CONFIG_PACKAGE_kmod-kvm-amd=y
CONFIG_PACKAGE_kmod-kvm-intel=y
CONFIG_PACKAGE_kmod-kvm-x86=y
CONFIG_PACKAGE_kmod-vfio=y
CONFIG_PACKAGE_kmod-vfio-mdev=y
CONFIG_PACKAGE_kmod-vfio-pci=y
CONFIG_PACKAGE_kmod-vhost=y
CONFIG_PACKAGE_kmod-vhost-net=y

CONFIG_PACKAGE_luci-app-onliner=y
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iftop=y
CONFIG_PACKAGE_luci-app-ramfree=y

CONFIG_PACKAGE_prometheus-node-exporter-lua=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-dawn=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-hostapd_ubus_stations=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-nat_traffic=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-netstat=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-openwrt=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-snmp6=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-textfile=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-uci_dhcp_host=y
CONFIG_PACKAGE_prometheus-node-exporter-lua-wifi=n
CONFIG_PACKAGE_prometheus-node-exporter-lua-wifi_stations=n

CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_rsyncd=y
CONFIG_KERNEL_CIFS_ACL=y
CONFIG_PACKAGE_kmod-fs-cifs=y
CONFIG_PACKAGE_luci-app-cifs-mount=y
CONFIG_PACKAGE_cifsmount=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=y
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_DEFAULT_ddns-scripts_aliyun=n
CONFIG_DEFAULT_ddns-scripts_dnspod=n

CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_fish=y
CONFIG_PACKAGE_coremark=n

CONFIG_PACKAGE_luci-app-udpxy=n
CONFIG_PACKAGE_luci-i18n-udpxy-zh-cn=n
CONFIG_PACKAGE_udpxy=n

CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_KERNEL_NFS_ACL_SUPPORT=y
CONFIG_KERNEL_NFS_V3_ACL_SUPPORT=y
CONFIG_KERNEL_NFSD_V2_ACL_SUPPORT=y
CONFIG_KERNEL_NFSD_V3_ACL_SUPPORT=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y

CONFIG_PACKAGE_luci-app-webadmin=y

CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_bandwidthd=y

CONFIG_PACKAGE_ipv6helper=n
CONFIG_PACKAGE_kmod-ip6tables-extra=y
